    <div class="container">
	  <table><tr><td valign="top">
		<img src="/images/header.png">
	   </td>
	   <td>
		 <h2>Operations:<h2>
        <blockquote><code>/operations</code> A list of available operations</blockquote>
        <h2>Version</h2>
        <blockquote><code>/version</code> Current version for like the one hypothetical person that gives a fuck</blockquote>
        <h2>Formats</h2>
        Specify a return format with <code>/&lt;operation&gt;?format=&lt;format&gt;</code>
        <h3>Currently supported formats:</h3>    
        <ul><li>JSOa <code>?format=json</code></li>
        <li>XML <code>?format=xml</code></li>
        <li>None <code>?format=none</code></li>
        </ul>
        By default JCaaS return a Base64-encoded marshalled object because fuck you.
		</td></tr></table>
    </div>
    <div class="container">
    </div>

